html(lang='eng')
    head  
        title Flashcards
    body 
        header
            h1 Flash Cards
        section#content 
            h2= prompt
        footer 
            p an app to study 
