extends layout.pug
block content
    h2= text 

    if side === "question"
        if hint
            h4 
                i Hint: #{hint} 
        a(href=`${id}?side=answer`)
            button answer  
    if side === "answer"
        a(href=`${id}?side=question `)
            button question   

