html(lang='eng')
    head  
        title Flashcards
    body 
        header
            h1 Flash Cards
        section#content 
            h2= text 

            if side === "question" && hint 
                h4 Hint: #{hint}
        footer 
            p an app to study 
