extends layout.pug 
block content 
    section.desk 
        h1 #{error.message} - #{error.status}
        img(src="/static/img/desk.svg" alt="image of a desk")
        a.button-primary-small(href="/hello") Go Home 
        .paper 
            pre.stack-trace=error.stack
        .tear


