extends layout.pug 
block content 
    section.namecard 
        .namecard-hello 
            if name
                p.namecard-greeting Hello, #{name}!
            form.namecard-exit(action="/goodbye" method="post")
                button(type='submit') GOODBYE
        h1.namecard-prompt Let&apos;s get started
        a.namecard-submit(href='card-front.html') Begin!

