doctype html
html(lang='eng')
    head  
        title Flashcards
        link(rel='stylesheet' href='/static/stylesheets/style.css')
    body 
        include includes/header.pug
        block content 



